 /* Author: Trong T Nguyen */ 
.m1 {
	position: absolute;
	top: 70px;
	right: 550px;
}

.filterTitle {
	position: absolute;
	top: 50px;
	right: 200px;
}

.gearbox {
	position: absolute;
	top: 100px;
	right: 175px;
}

.brand1 {
	position: absolute;
	top: 100px;
	right: 100px;
}

.brand2 {
	position: absolute;
	top: 150px;
	right: 130px;
}

.brand3 {
	position: absolute;
	top: 210px;
	right: 140px;
}

.brand4 {
	position: absolute;
	top: 250px;
	right: 180px;
}
	
.si {
	position: absolute;
	top: 310px;
	right: 30px;
}
